{% extends "@FOSUser/admin/modelUsed/serveur.html.twig" %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
    <h2>Serveur edit</h2>
        <div class="form-group">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}<br>
            <button type="submit" class="btn btn-default">Submit</button>
            {{ form_end(edit_form) }}
        </div>
    <ul>
        <li>
            <a href="{{ path('serveur_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-default">Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
