{% extends "MyAppPIBundle:admin/layout:layout.html.twig" %}

    {% block head %}
        <title>{% block title %} TGS BO{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block stylesheet %}

            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('BO/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{ asset('BO/css/sb-admin.css') }}"rel="stylesheet">

            <!-- Morris Charts CSS -->
            <link href="{{ asset('BO/css/plugins/morris.css') }}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{ asset('BO/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript"
                src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" >
        </script>

        <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}">
        </script>


    {% endblock %}

{% block content %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                         Categories
                        <small></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a  href="{{ path('BO') }}">Forum</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> categories
                        </li>
                    </ol>
                </div>

                <div class="col-sm-12">
                    <div class="jumbotron">

                        <div class="col-sm-2"></div><div class="col-sm-8">
                            {{ form_start(form) }}
                            <div class="col-sm-6">
                                {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}</div><div class="col-sm-2">  <input type="submit" value="ajouter" class="btn btn-sm btn-info"/></div>

                            {{ form_end(form) }}

                            <div class="col-sm-2"></div></div></div></div></div></div>

                           <div class="col-lg-12">
                           <div class="panel panel-default">
                           <div class="panel-heading">
                               <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Liste des categories</h3>
                           </div>

                           <div class="panel-body">
                           <div class="form-group input-group">
                               <input type="text" class="form-control">
                               <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>


                           </div>
                           <div class="table-responsive">
                           <table class="table table-bordered table-hover table-striped">
                           <thead>
                           <tr>
                               <th>id</th>
                               <th>titre</th>
                               <th>Action</th>
                           </tr>
                           </thead>
                           <tbody>
                           {% for forumCategorie in forumCategories %}

                           <tr>

                           <td><a href="{{ path('forumcategorie_show', { 'id': forumCategorie.idCategorie }) }}">{{ forumCategorie.idCategorie }}</a></td>
    <td>{{ forumCategorie.titre }}</td>
    <td>

                <a type="submit" class="btn btn-xs btn-danger" href="{{ path('forumcategorie_delete', { 'id': forumCategorie.idCategorie }) }}">supprimer</a>

                <a  type="submit" class="btn btn-xs btn-success" href="{{ path('forumcategorie_show', { 'id': forumCategorie.idCategorie }) }}">afficher</a>
    </td>
</tr>
    {% endfor %}
    </tbody>
    </table>
                           </div></div></div></div></div>
{% endblock %}
